@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

/* 
font-family: "Inter", sans-serif; 400, 700, 900 
*/
body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;

	background-color: #2A2C2F;
	color: #fff;
	font-size: 16px;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

/* ----------------- HEADER ----------------- */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 28px 48px 0;
}

.lang-link {
	font-size: 24px;
}

.lang-link + .lang-link {
	margin-left: 18px;
}

.active {
	text-decoration:underline;
}

/* ----------------- LEAD -------------- */
.lead {
	margin: 56px 48px 0;
	padding: 0 100px;
	text-align: center;
}

.lead__title {
	font-weight: 900;
	font-size: 96px;

	margin-bottom: 32px;
	text-align: center;

}

.lead__subtitle {
	font-size: 30px;
	margin-bottom: 64px;
}

.lead__caption {
	font-size: 10px;
	letter-spacing: 0.15em;
	text-transform: uppercase;

	text-align: start;
	margin-top: 8px;
}

/* ----------------- INTRO -------------- */

.intro {
	margin: 92px 48px 0;
	padding: 0 100px;
	padding-right: 238px;
}

.intro__title {
	font-weight: 900;
	font-size: 54px;

	margin-bottom: 40px;
}

.intro__list {
	font-weight: 700;
	font-size: 12px;

	margin-top: 34px;
}

.intro__list span {
	font-weight: 400;
}

/* ----------------- PHOTO -------------- */

.photo-grid {
	display: grid;
	grid-template-columns: repeat(4, max-content);
	grid-template-rows: repeat(3, max-content);

	gap: 16px;
	margin: 92px 48px 0;
}

.photo-grid img {
	width: 100%;
	height: 100%;
	display: flex;
}

/* ----------------- PLACES -------------- */

.places {
	margin: 92px 48px 0;
	padding: 0 100px;
}

.place {
	display: grid;
	grid-template-rows: max-content;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 	"title url" 
												"img text";

	gap: 40px;
}

.place + .place {
	margin-top: 80px;
}

.place__title {
	grid-area: title;
	text-align: left;

	font-weight: 900;
	font-size: 72px;
}

.place__image {
	grid-area: img;
}

.place__website {
	grid-area: url;
	position: relative;
}

.website__url-heading {
	letter-spacing: 0.17em;
	color: #aaa;

	margin-bottom: 12px;

	position: absolute;
	bottom: 20px;
}

.website__link {
	font-size: 18px;
	text-decoration-skip-ink: none;
	color: #fff;
	text-decoration:underline;

	position: absolute;
	bottom: 0;
}

.website__link:hover {
	opacity: 0.8;
}

.website__paragraph {
	grid-area: text;
	font-size: 18px;
}

/* ----------------- COVER -------------- */

.cover {
	position: relative;

	min-height: 720px;
	margin: 92px 48px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;

	background-color: #2A2C2F;
	background: url("img/background-image.jpg");
	background-size: cover;
	background-position: center;
}

.cover__title {
	font-weight: 900;
	font-size: 72px;
	text-align: center;
	/* width: 55%; */
	z-index: 1;
}

.cover__subtitle {
	font-size: 18px;
	text-align: center;
	/* width: 38%; */
	z-index: 1;
}

.overlay {
	position: absolute;
	z-index: 0; 
	width: 100%;
	min-height: 720px;
	background-color: #2A2C2F;
	opacity: 0.3;
}

.overlay:hover {
	opacity: 0.8;
}

/* ----------------- FOOTER -------------- */

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 0 48px 24px;
}

.footer__links ul{
	display: flex;
}

.footer__links li + li {
	margin-left: 18px;
}

.footer__links li:hover {
	opacity: 0.8;
}

.footer__links a {
	font-size: 16px;
}


@media (max-width: 1024px) {
	.photo-grid {
		grid-template-rows: repeat(4, max-content);
		grid-template-columns: repeat(3, max-content);

		gap: 14px;
	}

	.lead {
		padding: 0;
	}

	.intro {
		padding: 0;
		padding-right: 238px ;
	}

	.places {
		padding: 0;
	}

	.cover {
		margin: 92px 0;
	}
}

@media (max-width: 768px) {
	.header {
		margin: 28px 24px 0;
	}

	.lead {
		margin: 48px 0;
	}

	.lead__caption {
	padding-left: 24px;
	}

	.intro {
		padding: 0;
		margin: 84px 24px 0;
	}


	.places {
		margin: 88px 24px 0;
	}

	.place {
		gap: 48px 28px;
	}

	.place__title {
		font-size: 42px;
	}

	.photo-grid {
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: repeat(2, 1fr);

		gap: 16px;
		margin: 88px 24px 0;
	}
}

@media (max-width: 320px) {
	.header {
		margin: 16px 16px 0;
	}

	.header img {
		width: 142px;
	}

	.lead__caption {
		padding: 0;
		}

	.lang-link {
		font-size: 18px;
	}

	.lead__title {
		font-size: 40px;
	}

	.lead__subtitle {
		font-size: 16px;
		margin-bottom: 40px;
	}

	.lead__caption {
		text-align: start;
		margin-top: 8px;
		margin-left: 18px;
	}

	.intro {
		margin: 24px 16px 0;
		padding-right: 0px;
	}
	
	.intro__title {
		font-size: 32px;
	}

	.photo-grid {
		grid-template-columns: max-content;
		grid-template-rows: auto;
	
		gap: 0;
		row-gap: 12px;
		margin: 64px 16px 0;
	}

	.places {
		margin: 0;
		margin-top: 64px
	}
	
	.place {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 1fr ;
		grid-template-areas: 	"title" 
													"url"
													"img"
													"text";
	
		gap: 0px;
		row-gap: 32px;

	}
	
	.place + .place {
		margin-top: 50px;
	}
	
	.place__title {
		font-size: 32px;
		margin: 0 16px;
	}
	
	.place__website {
		margin: 0 16px;
	}
	
	.website__url-heading {
		letter-spacing: 0.17em;
		font-size: 12px;
		color: #aaa;
		margin-bottom: 12px;
		position: relative;

	}
	
	.website__link {
		font-size: 18px;
		text-decoration-skip-ink: none;
		color: #fff;
		text-decoration:underline;
		text-align: center;
	}
	
	.website__paragraph {
		margin: 0 16px;
	}
	.cover {
		min-height: 200px;
		margin: 64px 0;
	}
	
	.cover__title {
		font-size: 32px;
	}
	
	.cover__subtitle {
		font-size: 14px;
	}

	.footer {
		display: block;
		margin: 64px 118px 24px 16px;
	}

	.footer nav + p {
		margin-top: 48px;
	}
	
	.footer__links ul{
		display: flex;
		flex-direction: column;
	}


	.footer__links li + li {
		margin-left: 0;
		margin-top: 32px;
	}
	
	.footer__links a {
		font-size: 24px;
	}

}